{
    "openapi": "3.0.1",
    "info": {
        "title": "报告生成 API",
        "description": "报告生成api服务",
        "version": "1.4.8"
    },
    "servers": [
        {
            "url": "http://gateway.cac7d791610d6444899e9153f4f3a74d7.cn-beijing.alicontainer.com",
            "description": "Generated server url"
        }
    ],
    "paths": {
        "/word/preview": {
            "post": {
                "tags": [
                    "word-controller"
                ],
                "description": "预览图表",
                "operationId": "preview",
                "parameters": [
                    {
                        "name": "templateUrl",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ParagraphWrapper"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "data中为html代码",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/word": {
            "post": {
                "tags": [
                    "word-controller"
                ],
                "operationId": "word",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RequestPayload"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/download/oss": {
            "get": {
                "tags": [
                    "download-controller"
                ],
                "operationId": "oss",
                "parameters": [
                    {
                        "name": "url",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "string",
                                        "format": "byte"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/converter/word2html": {
            "post": {
                "tags": [
                    "converter-controller"
                ],
                "operationId": "word2html",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Word2HtmlRequestPayload"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/converter/template": {
            "get": {
                "tags": [
                    "converter-controller"
                ],
                "operationId": "template",
                "parameters": [
                    {
                        "name": "url",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "string",
                                        "format": "byte"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/converter/word2html/rich": {
            "post": {
                "tags": [
                    "converter-controller"
                ],
                "operationId": "word2htmlRich",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Word2HtmlRequestPayload"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultString"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/converter/parseWord": {
            "get": {
                "tags": [
                    "converter-controller"
                ],
                "operationId": "parseWord",
                "parameters": [
                    {
                        "name": "url",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ResultListWordTemplateSubstitution"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ChartReportParagraph": {
                "type": "object",
                "description": "图表类型段落",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/ReportParagraph"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "chartXlsxTemplateUrl": {
                                "type": "string"
                            },
                            "reportChartType": {
                                "type": "string",
                                "enum": [
                                    "ZHUXINGTU",
                                    "ZHEXIANTU",
                                    "DUIJIZHEXIANTU",
                                    "BINGTU",
                                    "TIAOXINGTU",
                                    "SANDIANTU",
                                    "ZHEXIANZHUXINGTU",
                                    "DUIJIZHUXINGTU",
                                    "YUANHUANTU",
                                    "UNKNOWN"
                                ]
                            },
                            "data": {
                                "type": "array",
                                "items": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                }
                            },
                            "style": {
                                "$ref": "#/components/schemas/ChartReportParagraphStyle"
                            }
                        }
                    }
                ]
            },
            "ChartReportParagraphStyle": {
                "type": "object",
                "properties": {
                    "alignment": {
                        "type": "string",
                        "description": "居左，居中，居右",
                        "enum": [
                            "LEFT",
                            "CENTER",
                            "RIGHT"
                        ]
                    },
                    "width": {
                        "type": "number",
                        "description": "word里面的图表的宽，单位厘米",
                        "format": "double"
                    },
                    "height": {
                        "type": "number",
                        "description": "word里面的图表的高，单位厘米",
                        "format": "double"
                    }
                }
            },
            "ImageReportParagraph": {
                "type": "object",
                "description": "图片类型段落",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/ReportParagraph"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "urls": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            },
                            "style": {
                                "$ref": "#/components/schemas/ImageReportParagraphStyle"
                            }
                        }
                    }
                ]
            },
            "ImageReportParagraphStyle": {
                "type": "object",
                "properties": {
                    "alignment": {
                        "type": "string",
                        "description": "居左，居中，居右",
                        "enum": [
                            "LEFT",
                            "CENTER",
                            "RIGHT"
                        ]
                    },
                    "width": {
                        "type": "number",
                        "format": "double"
                    },
                    "height": {
                        "type": "number",
                        "format": "double"
                    },
                    "separator": {
                        "type": "string"
                    }
                }
            },
            "MergeFieldData": {
                "type": "object",
                "properties": {
                    "fields": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "values": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    }
                }
            },
            "ParagraphWrapper": {
                "required": [
                    "type"
                ],
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "description": "报告段落类型",
                        "example": "TEXT",
                        "enum": [
                            "TEXT",
                            "CHART",
                            "IMAGE",
                            "TABLE"
                        ]
                    },
                    "value": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/ChartReportParagraph"
                            },
                            {
                                "$ref": "#/components/schemas/ImageReportParagraph"
                            },
                            {
                                "$ref": "#/components/schemas/TableReportParagraph"
                            },
                            {
                                "$ref": "#/components/schemas/TextReportParagraph"
                            }
                        ]
                    }
                },
                "description": "报告段落包装类"
            },
            "ReportParagraph": {
                "type": "object",
                "properties": {
                    "bookmark": {
                        "type": "string"
                    }
                },
                "description": "报告段落内容"
            },
            "TableReportParagraph": {
                "type": "object",
                "description": "表格类型段落",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/ReportParagraph"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "data": {
                                "type": "array",
                                "items": {
                                    "type": "array",
                                    "items": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                ]
            },
            "TextReportParagraph": {
                "type": "object",
                "description": "文本类型段落",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/ReportParagraph"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "style": {
                                "$ref": "#/components/schemas/TextReportParagraphStyle"
                            },
                            "content": {
                                "type": "string"
                            },
                            "fieldData": {
                                "$ref": "#/components/schemas/MergeFieldData"
                            }
                        }
                    }
                ]
            },
            "TextReportParagraphFont": {
                "type": "object",
                "properties": {
                    "fontFamily": {
                        "type": "string",
                        "description": "字体"
                    },
                    "fontSize": {
                        "type": "number",
                        "description": "字号，默认16磅，即三号字体",
                        "format": "double"
                    },
                    "chineseFontSize": {
                        "type": "string",
                        "description": "中文字号，优先级高于fontSize",
                        "enum": [
                            "初号",
                            "小初",
                            "一号",
                            "小一",
                            "二号",
                            "小二",
                            "三号",
                            "小三",
                            "四号",
                            "小四",
                            "五号",
                            "小五",
                            "六号",
                            "小六",
                            "七号",
                            "八号"
                        ]
                    },
                    "fontColor": {
                        "type": "string",
                        "description": "字体颜色，只支持黑色，红色和黄色",
                        "enum": [
                            "BLACK",
                            "RED",
                            "YELLOW"
                        ]
                    },
                    "isBold": {
                        "type": "boolean",
                        "description": "是否加粗，默认false"
                    }
                },
                "description": "设置字体样式"
            },
            "TextReportParagraphStyle": {
                "type": "object",
                "properties": {
                    "alignment": {
                        "type": "string",
                        "description": "居左，居中，居右",
                        "enum": [
                            "LEFT",
                            "CENTER",
                            "RIGHT"
                        ]
                    },
                    "font": {
                        "$ref": "#/components/schemas/TextReportParagraphFont"
                    },
                    "lineSpacing": {
                        "type": "number",
                        "description": "设置行距，单位磅，默认单倍行距，即12磅",
                        "format": "double"
                    },
                    "indent": {
                        "type": "number",
                        "description": "设置首行缩进，单位磅",
                        "format": "double"
                    },
                    "inline": {
                        "type": "boolean",
                        "description": "如果inline为true，表示不换行"
                    }
                }
            },
            "ResultString": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer",
                        "description": "返回标记：成功标记=0，失败标记=1",
                        "format": "int32"
                    },
                    "msg": {
                        "type": "string",
                        "description": "返回信息"
                    },
                    "data": {
                        "type": "string",
                        "description": "数据"
                    }
                }
            },
            "ReportPage": {
                "type": "object",
                "properties": {
                    "orientationType": {
                        "type": "string",
                        "description": "页面是横向还是纵向",
                        "enum": [
                            "HORIZONTAL",
                            "VERTICAL"
                        ]
                    },
                    "paperSizeType": {
                        "type": "string",
                        "description": "页面纸张大小",
                        "enum": [
                            "A3",
                            "A4",
                            "A5",
                            "B4",
                            "B5"
                        ]
                    },
                    "topMargin": {
                        "type": "number",
                        "description": "页面上边距，单位厘米",
                        "format": "double"
                    },
                    "bottomMargin": {
                        "type": "number",
                        "description": "页面下边距，单位厘米",
                        "format": "double"
                    },
                    "leftMargin": {
                        "type": "number",
                        "description": "页面左边距，单位厘米",
                        "format": "double"
                    },
                    "rightMargin": {
                        "type": "number",
                        "description": "页面右边距，单位厘米",
                        "format": "double"
                    }
                }
            },
            "RequestPayload": {
                "type": "object",
                "properties": {
                    "templateUrl": {
                        "type": "string"
                    },
                    "reportFileName": {
                        "type": "string"
                    },
                    "paragraphList": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ParagraphWrapper"
                        }
                    },
                    "reportPage": {
                        "$ref": "#/components/schemas/ReportPage"
                    }
                }
            },
            "Word2HtmlRequestPayload": {
                "type": "object",
                "properties": {
                    "downloadUrl": {
                        "type": "string"
                    }
                }
            },
            "ResultListWordTemplateSubstitution": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "integer",
                        "description": "返回标记：成功标记=0，失败标记=1",
                        "format": "int32"
                    },
                    "msg": {
                        "type": "string",
                        "description": "返回信息"
                    },
                    "data": {
                        "type": "array",
                        "description": "数据",
                        "items": {
                            "$ref": "#/components/schemas/WordTemplateSubstitution"
                        }
                    }
                }
            },
            "WordTemplateSubstitution": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "description": "变量名",
                        "example": "var1"
                    },
                    "display": {
                        "type": "string",
                        "description": "完整变量字符串，用于前端展示",
                        "example": "{var1}"
                    },
                    "type": {
                        "type": "string",
                        "description": "类型",
                        "example": "MERGEFIELD",
                        "enum": [
                            "MERGEFIELD",
                            "IMAGE",
                            "CHART",
                            "TABLE",
                            "UNKNOWN"
                        ]
                    }
                },
                "description": "模板变量"
            }
        }
    }
}
